
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map_canvas {
  width: 290px;
  height: 300px;
}

@media print {
  html, body {
    height: auto;
  }

  #map_canvas {
    height: 300px;
  }
}
